* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  min-height: 100%;
  align-items: center;

  width: 100%;
}

:root {
  --fc-small-font-size: 0.85em;

  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: hsla(0, 0%, 82%, 0.3);
  --fc-neutral-text-color: gray;
  /* --fc-border-color: #fff; */
  --fc-border-color: #ddd;

  --fc-button-bg-color: #fff;
  --fc-button-border-color: #e5e5e5;
  --fc-button-text-color: #2a2a37;

  --fc-button-hover-bg-color: #c5b4fb;
  --fc-button-hover-border-color: #c5b4fb;

  --fc-button-active-bg-color: #907ad6;
  --fc-button-active-border-color: #907ad6;

  --fc-event-bg-color: #c5b4fb;
  --fc-event-border-color: #c5b4fb;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: hsla(0, 0%, 84%, 0.3);

  --fc-bg-event-color: #8fdf82;
  --fc-bg-event-opacity: 0.3;

  --fc-highlight-color: #c5b4fb4d;
  --fc-today-bg-color: #c5b4fb4d;

  --fc-now-indicator-color: red;
}
